$bounce-color:rgb(218, 228, 125);
$image-size: 200px; 






.bin {
height: $image-size;
width: $image-size;
background-color: $bounce-color;
box-shadow: 15 15 15 15px $bounce-color; }

.bin:hover{ cursor: pointer;
animation: bounceOut .4s linear;}

@keyframes bounceOut {
0% {box-shadow: 0 0 0 4px $bounce-color; opacity: 1; }
25%{box-shadow:  0 0 0 1px $bounce-color;opacity:1;}
75%{box-shadow:  0 0 0 7px $bounce-color;opacity:1;}
100%{box-shadow:  0 0 0 5px $bounce-color;opacity:1;}
}


